<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="defaultLayout" value="${longdate} ${level} ${logger} ${message:withException=true} ${exception:format=ToString}" />
  <variable name="consoleLayout" value="${longdate} [${level}] ${logger} ${message:withException=false}" />
  <variable name="eventlogLayout" value="${logger}: ${message}${newline}${exception:format=ToString}" />

  <targets>
    <target name="logfile" xsi:type="File" fileName="manager-${date:format=yyyy-MM-dd_HH-mm}.log" layout="${defaultLayout}" />
    <target name="console" xsi:type="ColoredConsole" layout="${consoleLayout}" />
    <target name="AlarmyService" xsi:type="EventLog" layout="${eventlogLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="AlarmyService" />
  </rules>
</nlog>